<div class="container centered">
  <div class="columns" style="margin-left: 15%; margin-right: 15%; margin-top: 10%;">
      <div class="column col-4 text-center">            
      </div>

      <div class="column col-4 text-center">
          <div class="card">
              <div class="card-body">              
                  <button class="btn btn-primary" (click)="makeCredsSample()">Make Credentials</button>
              </div><!-- .card-body --> 
          </div><!-- .card -->
      </div>

      <div class="column col-4 text-center">            
      </div>
  </div>
</div>